.scroll_1 {
  margin: 35px;
  align-items: center;
  text-align: center;
  justify-content: center;
  transform: scale(1.1, 1.1);
  transition: 1s;
}

.ico_scroll {
  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 30px;
  padding: 8px;
  justify-content: center;
  align-items: center;
}

.ico_scroll:hover {
  transform: scale(1.2, 1.2);
  transition: 0,5s;
}
