.scroll_1 {

    margin: 17px;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.ico_scroll {
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 30px;
    padding: 8px;
    justify-content: center;
    align-items: center;


}
