<section class="footer" id="footer">
    <a href="#hero">
    <img class="ico_scroll" src="./image/ico-arrow.svg"></a>
</section>

<section class="nav_footer">
    <ul class="menu_list">
      <li><a class="menu_link" href="">ZAPATILLAS</a></li>
      <li><a class="menu_link" href="">ROPA</a></li>
      <li><a class="menu_link" href="">NIÑO/A</a></li>
      <li><a class="menu_link" href="">DESTACADOS</a></li>
      <li><a class="menu_link" href="">TIPS</a></li>
    </ul>

    <ul class="rrss">
      <li><a class="menu_link" href="">TWITTER</a></li>
      <li><a class="menu_link" href="">INSTAGRAM</a></li>
      <li><a class="menu_link" href="">YOUTUBE</a></li>
    </ul>

    <ul class="copyright">
      <li><p class="menu_link">&copy;2023</li>
      <li><a class="menu_link">we<img class="heart_icon" src="./image/heart-outline.svg">run</a></li>
    </ul>
</section>
