
<section class="section_3">
   <div class="container">
    <article>
      <h3 class="subtittle">¡Prepáralos con tus marcas favoritas!</h1>
      <h2 class="tittle">VUELTA AL COLE</h2>
    </article>

    <div class="container-grid">

            <div class="categorie">
                <img class="pic" src="./image/lpbts-mod05-img01-desk.png">
                <h2 class="tittle_pic">Mochilas escolares</h2>
            </div>
            <div class="categorie">
                <img class="pic" src="./image/lpbts-mod05-img04-mob.png"> 
              <h2 class="tittle_pic">Estuches</h2>
            </div>
            <div class="categorie">
                <img class="pic" src="./image/lpbts-mod05-img03-mob.png" title="foto">
                <h2 class="tittle_pic">Bolsas de deporte</h2>
            </div>
    </div>



            
    <button class="button_green">
        <a class="cta" href="https://adalab.es/">Empezar ahora</a>
    </button>
   </div>
      
</section>