<hero class="box_slider">


    <section class="box_text">

        <article class="tittle">
            <h1 class="text">COMIENZOS</h1>
            <h2 class="text">COMPARTIDOS</h2>
            <h3 class="text2">Todo lo que necesitan para volver al cole con ilusión</h3>
            <p class="scroll_1">
                <a href="https://www.google.com/">
                <img class="ico_scroll" src="./image/ico-scroll-down.svg"></a>
            </p>
        </article>

<!--         <section class="scroll_1">
            <a class="icon_scroll_down" href="https://www.google.com/"><img class="ico_scroll" src="./image/ico-scroll-down.svg"></a>
        </section>
    </section> -->


</hero>