@import './reset.scss';
@import './components/icon_menu.scss';
@import './components/icon_section.scss';
@import './page_sections/principal_slider.scss';
@import './page_sections/section_2text';
@import './page_sections/section_3colums.scss';
@import './page_sections/footer.scss';


:root {
  background-color: #ffffff;
  color: white;
  font: 16px 'Roboto', arial, sans;
  font: 40px 'Arvo';
}


html {
  scroll-behavior: smooth;

}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}
